{{ define "page-meta-data" }}
<meta name="description" content="{{ .Site.Params.description }}"/>
<meta name="keywords" content='{{ .Site.Params.keywords}}'/>
<meta content="{{ .Site.Title }}" property="og:site_name">
<meta content="{{ .Site.Title }}" property="og:title">
<meta content="{{ .Site.BaseURL }}{{ if .Site.Params.image }}{{ .Site.Params.image }} {{ else }}image/default.jpg {{ end }}" property="og:image">
<meta content="{{ .Site.Params.description }}" name="og:description">
<meta content="{{ .Permalink }}" property="og:url">
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
<section class="articles">
  <h1>Homepage</h1>
</section>
{{end}}
